AllowShortFunctionsOnASingleLine: Inline
PackConstructorInitializers: Never
ColumnLimit: 120
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2
BinPackParameters: true
BinPackArguments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowAllArgumentsOnNextLine: false
BreakBeforeBraces: Stroustrup
SpaceAfterCStyleCast: true
PointerAlignment: Left
ForEachMacros: ['XNN_UNPREDICTABLE', 'XNN_LIKELY', 'XNN_UNLIKELY']
IfMacros: ['IF']
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterIfMacros: true
  AfterForeachMacros: false
SpacesBeforeTrailingComments: 2
