AllowShortFunctionsOnASingleLine: Inline
PackConstructorInitializers: Never
ColumnLimit: 120
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
BreakBeforeBraces: Stroustrup
SpaceAfterCStyleCast: true
PointerAlignment: Left
ForEachMacros: ['XNN_UNPREDICTABLE', 'XNN_LIKELY', 'XNN_UNLIKELY']
IfMacros: ['IF']
IndentCaseLabels: true
ContinuationIndentWidth: 2
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterIfMacros: true
  AfterForeachMacros: false
SpacesBeforeTrailingComments: 2
