name: Docker Images

on:
  push:
    branches: [ master ]
    paths:
      - 'docker/Dockerfile.standard'
      - 'docker/Dockerfile.riscv'
      - 'docker/Dockerfile.android'
      - 'docker/Dockerfile.sme2'
  workflow_dispatch:

permissions:
  packages: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - image: standard
            platforms: linux/amd64,linux/arm64
          - image: riscv
            platforms: linux/amd64
          - image: android
            platforms: linux/amd64
          - image: sme2
            platforms: linux/amd64,linux/arm64
    steps:
      - uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/Dockerfile.${{ matrix.image }}
          platforms: ${{ matrix.platforms }}
          push: true
          tags: |
            ghcr.io/google/xnnpack/${{ matrix.image }}:latest
            ghcr.io/google/xnnpack/${{ matrix.image }}:${{ github.sha }}

